body {
margin: 0;
padding: 200;
font: 73% TimesNewRoman;
line-height: 1.7em;
color :#FFD700;
background: #1f1e1f url(img/kukkakuva.jpeg) repeat-y top center;
}
#container {
width : 740px;
margin-left : auto;
margin-right : auto;
padding : 0;
border : 5px solid #fff;
color :#FFD700;
background:#000000;
}
			/*TOP BANNER*/
#banner {
height: 150px;
padding: 0;
margin: 0;
color : #FFD700;
background: #E2725B url(img/banneri.jpg) repeat-x;
}
#banner h1 {
margin-top : 0;
padding : 5px 0 0 15px;
font-size : 2em;
border-bottom : none;
color :#000000;
background :#800080;
}
			/*TOP MENU*/
#navlist {
padding : 3px 0;
margin : 0;
text-align : right;
letter-spacing : 1px;
border : 0px solid #eee;
background :#000000;
}
#navlist li {
list-style : none;
margin : 0;
display : inline;
}
#navlist li a {
padding : 6px 0.5em;
margin-left : 3px;
color : #4d6912;
background : 	#000000;
text-decoration : none;
}
#navlist li a:link, #navlist li a:visited {
color : #4d6912;
background : #ebfbb0;
}
#navlist li a:hover, #navlist li a#current {
color : #000000;
background : #960018;
}
			/*MAIN CONTENT*/
#content {
padding: 50px;
margin-left: 195px;
margin-bottom: 0;
color : #FFD700;
	background: #960018;
}

			/*SIDEBAR LINKS*/
#sidebar ul li {
margin : 0 15px 0 0;
padding : 20;
list-style-type : square;
color : #DB7066;
background : inherit;
}
#sidebar a {
text-decoration : none;
color : #4d6912;
background :#000000;
}
#sidebar a:hover {
color : #333;
background : #c3db63;
}
#footer {
clear : both;
height: 50px;
padding : 3px;
margin : 0;
text-align : left;
border-top : 1px solid #c3db63;
color : #DB7066;
background :#000000;
}
/*SIDEBAR*/
#sidebar {
float : left;
width : 175px;
margin : 0 10px 0 0;
padding : 5px;
border-right : 1px solid #eee;
}
			/*FOOTER*/
#footer {
clear : both;
height: 50px;
padding : 3px;
margin : 0;
text-align : left;
border-top : 1px solid #c3db63;
color : #DB7066;
background :#000000;
}
			/*TYPOGRAPHY*/
h1 {
margin-top : 20px;
font : normal 130% "Trebuchet MS", verdana, tahoma, sans-serif;
padding : 5px;
letter-spacing : 3px;
border-bottom : 1px solid #eee;
text-transform : uppercase;
color : #DB7066;
background :#800080;
}
h2 {
padding : 75px;
font : bold 130% verdana, tahoma, "Trebuchet MS", sans-serif;
color :#DB7066;
background : #FFFFFF;
}

			/*LINKS*/
a {
text-decoration : underline;
color : #4d6912;
background : #FFBF00;
}
a:hover {
text-decoration : none;
color : #2b4d01;
background :#007FFF;
}
a img {
border : 0;
}

			/*ROUNDED CORNERS*/
.rbroundbox {
background : url(img/banneri.jpg);
display: block;
margin-left: auto;
margin-right: auto;
width: 90%;
}
.rbtop div {
background : url(img/tl2.gif) no-repeat top left;
}
.rbtop {
background : url(img/tr2.gif) no-repeat top right;
}
.rbbot div {
background : url(img/bl2.gif) no-repeat bottom left;
}
.rbbot {
background : url(img/br2.gif) no-repeat bottom right;
}
.rbtop div, .rbtop, .rbbot div, .rbbot {
height : 10px;
font-size : 1px;
}
.rbcontent {
margin : 0 7px;
}
.rbroundbox {
width : 90%;
margin : 0.5em auto;
}
			/*IMAGES*/
.imgleft {
float : left;
padding-left : 50px;
}